<div class="card my-3">
  <div class="card-header">
    <div class="row justify-content-">
      <div class="col-12 text-right">
        <i class="fas fa-puzzle-piece text-right text-primary"></i>
      </div>
      <div class='col-12 text-center'>
        <h5 class="card-title"> {{ nome }} </h5>
      </div>
    </div>
  </div>
  <div class="card-body">

    {% if dict.trabalhadores %}
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Função</th>
            <th scope='col'>Secretaria</th>
            <th scope="col">Admissão</th>
            <th scope="col">Situação</th>
            <th scope="col">Criador</th>
            <th scope='col'>Ações</th>
          </tr>
        </thead>
        <tbody>



        {% for trabalhador in dict.trabalhadores %}
          <tr>
            <th scope="row">{{ trabalhador.id }}</th>
            <td>
              <form id='trabalhadorForm{{ trabalhador.id }}' method='POST' action='{% url 'trabalhador' %}'>
                {% csrf_token %}
                <input type="hidden" name='trabalhador' value='{{ trabalhador.id }}' />
              </form>
              <button form='trabalhadorForm{{ trabalhador.id }}' class="btn btn-sm btn-block btn-transparent" type="submit">{{ trabalhador.nome }}</button>
            </td>
            <td>{{ trabalhador.funcao }}</td>
            <td>

              <form id='setorForm{{ trabalhador.id }}' method='POST' action='{% url 'setor_espec' %}'>
                {% csrf_token %}
                <input type="hidden" name='setor' value='{{ trabalhador.setor.id }}' />
              </form>
              <button form='setorForm{{ trabalhador.id }}' class="btn btn-sm btn-block btn-transparent" type="submit">{{ trabalhador.setor.nome }}</button>

            </td>

            <td>{{ trabalhador.data_admissao|date:"d/m/Y" }}</td>
            <td>{{ trabalhador.situacao|title }}</td>
            <td>{{ trabalhador.criado_por.first_name }}</td>
            <td>
              <small class="row justify-content-center align-items-center">
                <div class="col-6">
                  {% with setor=trabalhador.setor %}
                    {% include 'modals/editar_trabalhador.html' %}
                  {% endwith %}
                </div>
                <div class="col-6">
                  {% include  'modals/excluir_trabalhador.html' %}
                </div>
              </small>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>

  {% else %}
    <h5 class="text-info text-center">Não há trabalhadores neste setor ainda.</h5>
  {% endif %}

  </div>
  <div class="card-footer">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <small class="text-muted text-center"> {{ dict.contagem }} colaborador(es) - criado por {{ dict.setor.criado_por.first_name }}</small>
      </div>
      <div class='col-6 text-right'>
        <div class="row justify-content-center align-items-center">
          <div class="col-6">
            {% with setor=dict.setor %}
              {% include 'modals/editar_setor.html' %}
            {% endwith %}
          </div>
          <div class="col-6">
            {% with setor=dict.setor %}
              {% include 'modals/excluir_setor.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
