{% load crispy_forms_tags %}
{% load filtros %}

<button class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#modalExcluirSetor{{ setor.id }}" data-toggle="tooltip" data-placement="top" title="Excluir Secretaria">
  <i class='text-warning fas fa-trash'></i>
</button>

<div class="modal fade" id="modalExcluirSetor{{ setor.id }}" tabindex="-1" role="dialog" aria-labelledby="labelExcluirSetor{{ setor.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelEditarSetor{{ setor.id }}">Excluir Secretaria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    	</div>


			<form action="{% url 'excluir_setor' %}" method="POST" enctype="multipart/form-data" class="text-left">
   		   {% csrf_token %}
	     	<div class="modal-body">

          <h5>Você deseja excluir permanentemente a secretaria {{ setor.nome }}?</h5>
          <input type='hidden' name='setor_id' value='{{setor.id}}' />

      	</div>
      	<div class="modal-footer">
	        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
	        <button class="btn btn-danger" type='submit'>Excluir</button>
	     	</div>
  		</form>


    </div>
  </div>
</div>
