{% load static %}
{% load staticfiles %}
{% load sass_tags %}
{% load filtros %}

<!DOCTYPE html>
<html lang="pt-BR">
  	<head>


	    <!-- Required meta tags -->
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


      <!-- Jquery datepicker style-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


      <!-- fonts 
      <link href="https://fonts.googleapis.com/css?family=Abel|Bebas+Neue|Dosis&display=swap" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Noto+Serif&family=Roboto+Slab:wght@200&family=Codystar&display=swap" rel="stylesheet">

	    <!-- scss -->
	    <!--<link href="{% static 'app.css' %}" rel="stylesheet" type="text/css">-->
        <link href="{% sass_src 'app.scss' %}" rel="stylesheet" type="text/css" />

        <link rel="icon" type="image/png" sizes="32x32" href='{% sass_src "logo.png" %}'>


        <title> Feriapp </title>
        {% block head %} {% endblock %}
    </head>
    <body>

        <!-- NAVBAR  -->
        {% include 'nav.html' %}

        <div class="page-header">

          <div class="container-fluid">


            <section class='row justify-content-center'>


  		        {% for message in messages %}

        				<div class="col-12 alert alert-{{ message.tags }}{% if message.tags == 'error' %} alert-danger text-right {% endif %}" role="alert">
        					<small class="{% if message.tags == 'error' %} mr-2 {% endif %}">{{ message }}</small>
        				</div>


              {% endfor %}

  		       </section>




          </div>

        	{% if user.is_authenticated %}
                <div class="row justify-content-end align-items-top my-1">

                    <small class="col-12">

                        <i class="text-primary float-left ml-2">
                            {% data %} ~
                            {% if user|has_group:'relatorio' or user|has_group:'ferias' %}
                                {{ user.username|title }}
                            {% else %}
                                {% with t=user|trabalhador_por_usuario %}
                                    {{ t.nome }}
                                {% endwith %}
                            {% endif %}
                        </i>

                    </small>


                </div>



        	{% endif %}

            {% block header %}{% endblock %}
        </div>

        <div class='container-fluid'>

          {% block conteudo %} {% endblock %}

        </div>


        <div class="row justify-content-center align-items-bottom fixed-bottom">
          <div class="col text-center">
            <small class="text-primary">
              <small>Desenvolvido por Gustavo Ennes</small>
            </small>
          </div>
        </div>

    </body>


	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2a327097e3.js" crossorigin="anonymous"></script>

    {% if messages %}

        <script>
          $(document).ready(function(){
            setTimeout(function(){
              jQuery(".alert").fadeOut("slow");
            }, 5000)
          });
        </script>


    {% endif %}


    <script>
        $( function(){
        $( ".datepicker" ).datepicker(
            {
                //minDate: 0,
                beforeShowDay: function(date){
                    return [date.getDay() != 6 && date.getDay() != 0,""]
                }
            }
        );
        $( ".datepicker, .datepicker2, .datepicker_all" ).datepicker( "option", "dateFormat", "dd/mm/yy" );
        $( ".datepicker2" ).datepicker({maxDate: 0, changeMonth:true, changeYear:true});

        });
        $('.datepicker_all').datepicker({changeMonth:true, changeYear:true, dateFormat:"dd/mm/yy"});

    </script>
    <script>
        $("#btn_nav").on('click', function(){
            if ( $('#btn_nav').hasClass('collapsed') ){
                $("#span_nav").removeClass('fa-sort-up');
                $("#span_nav").addClass('fa-sort-down');
            }else{
                $("#span_nav").removeClass('fa-sort-down');
                $("#span_nav").addClass('fa-sort-up');
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.date').mask('00/00/0000');
            $('.time').mask('00:00:00');
            $('.date_time').mask('00/00/0000 00:00:00');
            $('.cep').mask('00000-000');
            $('.phone').mask('0000-0000');
            $('.phone_with_ddd').mask('(00) 0000-0000');
            $('.phone_us').mask('(000) 000-0000');

            $('.rg').mask('99.000.000-V',{
                reverse: true,
                placeholder: "34.123.322-X",
                translation:{
                    'V': {
                        pattern: /[0-9xX]/,
                        optional: true,
                    }
                }
            });
            $('.cpf').mask('000.000.000-00', {reverse: true, placeholder:"434.123.234-22"});
            $('.ctps').mask("00.00000.00-0",{reverse:true, placeholder: "12.12345.12-1"});
            $('.ctps-serie').mask("000-0", {reverse:true, placeholder: "001-0"});
            $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
            $('.money').mask('000.000.000.000.000,00', {reverse: true});
            $('.money2').mask("#.##0,00", {reverse: true});
            $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {
                translation: {
                  'Z': {
                    pattern: /[0-9]/, optional: true
                  }
                }
            });
            $('.ip_address').mask('099.099.099.099');
            $('.percent').mask('##0,00%', {reverse: true});
            $('.clear-if-not-match').mask("00/00/0000", {clearIfNotMatch: true});
            $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
            $('.fallback').mask("00r00r0000", {
              translation: {
                'r': {
                  pattern: /[\/]/,
                  fallback: '/'
                },
                placeholder: "__/__/____"
              }
            });
            $('.selectonfocus').mask("00/00/0000", {selectOnFocus: true});
        });


        $('.rg').change(function(){
            if( $('.rg').val().length >= 6 ){
                val = $('.rg').cleanVal().length;
                switch(val){
                    case 6:
                        $('.rg').mask("0.000.000", {reverse: true});
                        break;
                    case 7:
                        $('.rg').mask("00.000.000", {reverse: true});
                        break;
                    case 8:
                        $('.rg').mask("00.000.000-V", {
                            reverse: true,
                            translation: {
                                'V': {
                                    pattern: /[0-9]/, optional: true
                                }
                            }
                        });
                        break;

                }
            }
        });

        $(document).ready(() => {
            var classname;
            if(document.body.clientWidth < 1200){
                className = 'dropdown';
            }else{
                className = 'dropleft';
            }

            $("#drop_conf").addClass(className);
        });

    </script>

    {% block js %} {% endblock %}

</html>
