{% load filtros %}
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trabalhador</th>
      <th scope="col">Setor</th>
      <th scope="col">Pedido</th>
      <th scope='col'>Tipo</th>
      <th scope="col">Retorno</th>
    </tr>
  </thead>
  <tbody>

    {% for folga in proximos_retornos %}

      <tr>
        <th scope="row">{{ folga.id }}</th>
        <td>
          <form id='trabalhadorForm{{ folga.trabalhador.id }}' method='POST' action='{% url 'trabalhador' %}'>
            {% csrf_token %}
            <input type="hidden" name='trabalhador' value='{{ folga.trabalhador.id }}' />
          </form>
          <button form='trabalhadorForm{{ folga.trabalhador.id }}' class="btn btn-transparent text-light" type="submit">{{ folga.trabalhador.nome }}</button>
        </td>
        <td>
          <form id='setorForm{{ folga.trabalhador.id }}' method='POST' action='{% url 'setor_espec' %}'>
            {% csrf_token %}
            <input type="hidden" name='setor' value='{{ folga.trabalhador.setor.id }}' />
          </form>
          <button form='setorForm{{ folga.trabalhador.id }}' class="btn btn-transparent text-light" type="submit">{{ folga.trabalhador.setor.nome }}</button>
        </td>
        <td>{{ folga.criado_em|date:"d/m/Y" }}</td>
        <td>
          {% if folga|verifica_tipo:'abono' %}
            Abono
          {% elif folga|verifica_tipo:"ferias" %}
            Férias
          {% elif folga|verifica_tipo:"licenca" %}
            Licença-Prêmio
          {% endif %}
        </td>
        {% if folga|verifica_tipo:'abono' %}
          <td>
            <strong>
              {{ folga.data|soma_dias:1 }}
            </strong>
          </td>
        {% else %}
          <td>
            <strong>
              {{ folga.data_termino|date:"d/m/Y" }}
            </strong>
          </td>
        {% endif %}

      </tr>

    {% endfor %}

  </tbody>
</table>
