{% extends 'base.html' %}
{% load filtros %}
{% load user_agents %}

{% block header %}

  <div class="header-gradient">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <h4 class="text-primary ml-4">ABONOS</h4>
      </div>
      <div class="col">
        {% include "modals/marcar_abono.html" %}
      </div>
      <div class="col">
        <form method="POST" action="{% url 'pdf' 'abono' 0 %}" class="mr-1">
          {% csrf_token %}
          <button type='submit' class="btn btn-success btn-sm btn-block" data-toggle="tooltip" data-placement="top" title="Gerar PDF" {% if not futuros and not fruidos and not indeferidos and not em_andamento %}disabled{% endif %}>
            <i class="far fa-file-pdf"></i>
          </button>
        </form>
      </div>
      {% if user|has_group:'relatorio' %}
        <div class='col'>
            <a href="{% url 'pdf' 'relacao_abono' 0 %}" class="btn btn-success btn-sm btn-block">Relação Mensal</a>
        </div>
     {% endif %}
    </div>
  </div>

{% endblock %}

{% block conteudo %}

  <div class='row align-items-center justify-content-center'>

    <nav class='col-12'>
      <div class="nav nav-tabs" id="nav-tab-abono" role="tablist">
        <a class="nav-item nav-link active" id="futuros-tab" data-toggle="tab" href="#futuros" role="tab" aria-controls="futuros" aria-selected="true">Futuros</a>
        <a class="nav-item nav-link" id="andamento-tab" data-toggle="tab" href="#andamento" role="tab" aria-controls="andamento" aria-selected="false">Em andamento</a>
        <a class="nav-item nav-link" id="fruidos-tab" data-toggle="tab" href="#fruidos" role="tab" aria-controls="fruidos" aria-selected="false">Fruídos</a>
        <a class="nav-item nav-link" id="indeferidos-tab" data-toggle="tab" href="#indeferidos" role="tab" aria-controls="indeferidos" aria-selected="false">Indeferidos</a>
      </div>
    </nav>
    <div class="tab-content col-12 mt-4" id="nav-tabContent">
      <div class="tab-pane fade show active" id="futuros" role="tabpanel" aria-labelledby="futuros-tab">
        {% with abonos=futuros impressao=True %}
          {% include 'tables/abono.html' %}
        {% endwith %}
      </div>
      <div class="tab-pane fade show" id="andamento" role="tabpanel" aria-labelledby="andamento-tab">
        {% with arquivado=True impressao=True %}
          {% with abonos=em_andamento %}
            {% include 'tables/abono.html' %}
          {% endwith %}
        {% endwith %}
      </div>
      <div class="tab-pane fade show " id="fruidos" role="tabpanel" aria-labelledby="fruidos-tab">
        {% with arquivado=True impressao=True %}
          {% with abonos=fruidos %}
            {% include 'tables/abono.html' %}
          {% endwith %}
        {% endwith %}
      </div>
      <div class="tab-pane fade show" id="indeferidos" role="tabpanel" aria-labelledby="indeferidos-tab">
        {% with arquivado=True %}
          {% with abonos=indeferidos observacoes=True %}
            {% include 'tables/abono.html' %}
          {% endwith %}
        {% endwith %}
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
    jQuery('#futuros-tab').click(function(){
      $("#nav-tab-abono [aria-selected=true]").attr('aria-selected', false);
      $("#nav-tab-abono [aria-selected=true]").removeClass("active")
      $(self).attr('aria-selected', true);
      $(self).addClass('active');
    });
    jQuery('#andamento-tab').click(function(){
      $("#nav-tab-abono [aria-selected=true]").attr('aria-selected', false);
      $("#nav-tab-abono [aria-selected=true]").removeClass("active")
      $(self).attr('aria-selected', true);
      $(self).addClass('active');
    });
    jQuery('#fruidos-tab').click(function(){
      $("#nav-tab-abono [aria-selected=true]").attr('aria-selected', false);
      $("#nav-tab-abono [aria-selected=true]").removeClass("active")
      $(self).attr('aria-selected', true);
      $(self).addClass('active');
    });
    jQuery('#indeferidos-tab').click(function(){
      $("#nav-tab-abono [aria-selected=true]").attr('aria-selected', false);
      $("#nav-tab-abono [aria-selected=true]").removeClass("active")
      $(self).attr('aria-selected', true);
      $(self).addClass('active');
    });
  </script>
{% endblock %}
