{% extends 'base.html' %}
{% load filtros %}
{% load user_agents %}

{% block header %}

  <div class="header-gradient">
    <div class="row justify-content-center align-items-center">
      <div class="col-8">
        <h4 class="text-light ml-4">FÉRIAS</h4>
      </div>
      <div class='col-2'>
        {% include 'modals/marcar_ferias.html' %}
      </div>
      <div class="col-2">
        {% if request|is_pc %}
          <form method="POST" action="{% url 'pdf' %}" class="mr-1">
            {% csrf_token %}
            <input type='hidden' name='tipo' value="ferias" />
            <button style='color: #4a4;' type='submit' class="btn btn-sm btn-block btn-info" data-toggle="tooltip" data-placement="top" title="Gerar PDF" {% if not futuras and not fruidas and not indeferidas and not em_andamento %}disabled{% endif %}>
              <i class="far fa-file-pdf text-light"></i>
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

{% block conteudo %}


  <div class='row align-items-center justify-content-center'>

    <nav class='col-12'>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-light bg-primary" id="futuros-tab" data-toggle="tab" href="#futuros" role="tab" aria-controls="futuros" aria-selected="true">Futuras</a>
        <a class="nav-item nav-link text-light bg-primary" id="andamento-tab" data-toggle="tab" href="#andamento" role="tab" aria-controls="andamento" aria-selected="false">Em andamento</a>
        <a class="nav-item nav-link text-light bg-primary" id="fruidos-tab" data-toggle="tab" href="#fruidos" role="tab" aria-controls="fruidos" aria-selected="false">Fruídas</a>
        <a class="nav-item nav-link text-light bg-primary" id="indeferidos-tab" data-toggle="tab" href="#indeferidos" role="tab" aria-controls="indeferidos" aria-selected="false">Indeferidas</a>
      </div>
    </nav>
    <div class="tab-content col-12 mt-4" id="nav-tabContent">
      <div class="tab-pane fade show active" id="futuros" role="tabpanel" aria-labelledby="futuros-tab">
        <div>
          {% with ferias=futuras impressao=True %}
            {% include 'tables/ferias.html' %}
          {% endwith %}
        </div>
      </div>
      <div class="tab-pane fade show" id="andamento" role="tabpanel" aria-labelledby="andamento-tab">
        <div>
          {% with arquivada=True impressao=True %}
            {% with ferias=em_andamento %}
              {% include 'tables/ferias.html' %}
            {% endwith %}
          {% endwith %}
        </div>
      </div>
      <div class="tab-pane fade" id="fruidos" role="tabpanel" aria-labelledby="fruidos-tab">
        {% with arquivada=True impressao=True %}
          {% with ferias=fruidas %}
            {% include 'tables/ferias.html' %}
          {% endwith %}
        {% endwith %}
      </div>
      <div class="tab-pane fade" id="indeferidos" role="tabpanel" aria-labelledby="indeferidos-tab">
        {% with arquivada=True %}
          {% with ferias=indeferidas observacoes=True %}
            {% include 'tables/ferias.html' %}
          {% endwith %}
        {% endwith %}
      </div>
    </div>
  </div>

{% endblock %}
