{% extends 'base.html' %}
{% load filtros %}
{% load user_agents %}


{% block conteudo %}


  <div class="">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-sm-6 col-lg-4">
        {% include 'modals/marcar_ferias.html' %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {% include 'modals/marcar_licenca.html' %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {% include 'modals/marcar_abono.html' %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {% include 'modals/novo_setor.html' %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        {% include 'modals/novo_trabalhador.html' %}
      </div>
      {% if request|is_pc %}
        <div class="col-12 col-sm-6 col-lg-4">
          {% include 'modals/autorizacao_he.html' %}
        </div>
      {% endif %}
      {% if proximas_folgas or proximos_retornos or em_andamento %}
        <div class='col-12'>
          <div class="card my-5">
            <div class="card-header">
              <h4 class="card-title text-center">OBSERVAÇÕES</h4>
            </div>
            <div class="card-body">
              {% if proximas_folgas %}
                <h2 class='text-center text-primary'>Próximas</h2>
                {% include 'tables/proximas_folgas.html' %}
              {% endif %}
              {% if proximos_retornos %}
                <h2 class='text-center text-primary'>Retornando</h2>
                {% include 'tables/proximos_retornos.html' %}
              {% endif %}
              {% if em_andamento %}
                <h2 class='text-center text-primary'>Folgando Hoje</h2>
                {% include 'tables/em_andamento.html' %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      {% if lembretes  %}
        {% include 'modals/lembrete_template.html' %}
      {% endif %}
    </div>
  </div>


{% endblock %}

{% block js %}
  <script>
    $(document).ready(function(){
      {% for lembrete in lembretes %}
        {% if user|has_group:'relatorio' %}
          {% if lembrete.is_valid %}

            alert("{{lembrete.url_name|safe|escape}}");
            $(".modal-url").attr("href", "{{ lembrete.url_name|safe|escape }}");

            $(".modal-body-title").html("{{lembrete.titulo|safe|escape}}");
            $(".modal-body-text").html("{{lembrete.mensagem|safe|escape}}");
            $('#modal_lembrete').modal({
              keyboard: false
            })

          {% endif %}
        {% endif %}

      {% endfor %}

    });
  </script>

{% endblock %}
