{% extends 'base.html' %}
{% load filtros %}
{% load crispy_forms_tags %}

{% block header %}
  <div class="header-gradient">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <h4 class="text-primary ml-4">AUTORIZAÇÃO DE HORAS EXTRAS</h4>
      </div>
    </div>
  </div>
{% endblock %}

{% block conteudo %}
  <div class="row justify-content-center align-items-center">
    <h1 class="col-12 text-center text-primary">Selecione o servidor:</h1>
    <div class='col-12'>
      <form action="{% url 'pdf' 'justificativa' 0 %}" method="POST" enctype="multipart/form-data" class="text-left">
          {% csrf_token %}
          {{ AutorizacaoForm|crispy }}
          <button class="btn btn-success btn-lg btn-block" type='submit'>Imprimir</button>
  		</form>
    </div>
  </div>
{% endblock %}
