{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}

	<section class="row justify-content-center">

		<section class="col-12 text-center">
			<h1 class="my-5">Entrar</h1>
		</section>

		<section class='col-12 col-md-8 col-lg-6 col-xl-4'>

			<form method="POST" action="{% url 'entrar' %}" enctype="multipart/form-data" class="text-center">

				{% csrf_token %}

				{{ LoginForm|crispy }}

				<div class="form-check my-4">
				  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
				  <label class="form-check-label" for="defaultCheck1">
				    Lembrar de mim
				  </label>
				</div>

				<button class="btn btn-outline-success">Entrar</button>


		</section>


	</section>

{% endblock %}
