<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Impressão</title>
    <style type="text/css">
      @page {
      size: A4;
      margin: 1cm;
      }
      .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 5px;
      background-color: #fff;
      }
      .table th,
      .table td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid #000;
      text-align: center;
      }
      .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #000;
      }
      .table tbody + tbody {
      border-top: 2px solid #000;
      }
      .table .table {
      background-color: #fff;
      }
      .list-group {
      display: block;
      width: 100%;
      list-style: none;
      margin-top: 15px;
      margin-bottom: 15px;
      }
      .list-group p {
      width: 100%;
      height: 20px;
      line-height: 20px;
      list-style: none;
      font-size: 1.1em;
      }
    </style>
  </head>
    <body>
      <div class="container">

        {% if tipo == 'trabalhador' %}
          {% include 'cards/trabalhador.html'%}
        {% elif tipo == 'setor'%}
          <h3 class="text-center"> SETORES </h3><br/>
          {% include 'tables/setores.html'%}
        {% elif tipo == 'setor_historico' %}
          <h3 class="text-center"> SETOR: {{ setor.nome }} </h3><br/>
          {% include 'cards/trabalhador.html' %}
        {% elif tipo == 'ferias'%}
          <h3 class="text-center"> FÉRIAS  - futuras</h3><br/>
          {% with ferias=ferias_futuras impressao=True %}
            {% include 'tables/ferias.html'%}
          {% endwith %}
          <h3 class="text-center"> FÉRIAS  - fruídas</h3><br/>
          {% with ferias=ferias_fruidas impressao=True %}
            {% include 'tables/ferias.html'%}
          {% endwith %}
          <h3 class="text-center"> FÉRIAS  - indeferidas</h3><br/>
          {% with ferias=ferias_indeferidas impressao=True %}
            {% include 'tables/ferias.html'%}
          {% endwith %}
        {% elif tipo == 'abono'%}
          <h3 class="text-center"> ABONOS - futuros</h3><br/>
          {% with abonos=abonos_futuros impressao=True %}
            {% include 'tables/abono.html'%}
          {% endwith %}
          <h3 class="text-center"> ABONOS - fruídos</h3><br/>
          {% with abonos=abonos_fruidos impressao=True %}
            {% include 'tables/abono.html'%}
          {% endwith %}
          <h3 class="text-center"> ABONOS - indeferidos</h3><br/>
          {% with abonos=abonos_indeferidos impressao=True %}
            {% include 'tables/abono.html'%}
          {% endwith %}
        {% elif tipo == 'licenca'%}
          <h3 class="text-center"> LICENÇAS-PRÊMIO - futuras </h3><br/>
          {% with licencas=licencas_futuras impressao=True %}
            {% include 'tables/licenca.html'%}
          {% endwith %}
          <h3 class="text-center"> LICENÇAS-PRÊMIO - fruídas </h3><br/>
          {% with licencas=licencas_fruidas impressao=True %}
            {% include 'tables/licenca.html'%}
          {% endwith %}
          <h3 class="text-center"> LICENÇAS-PRÊMIO - indeferidas </h3><br/>
          {% with licencas=licencas_indeferidas impressao=True %}
            {% include 'tables/licenca.html'%}
          {% endwith %}

        {% elif tipo == 'pesquisa' %}
          <h3 class="text-center"> PESQUISA : {{query}} </h3><br/>

          {% if trabalhadores %}
            {% include 'cards/trabalhador.html' %}
          {% endif %}

          {% if setores %}
            <h3 class="text-center"> SETORES </h3><br/>
            {% include 'tables/setores.html' %}
          {% endif %}

          {% if ferias_futuras %}
            <h3 class="text-center"> FÉRIAS  - futuras</h3><br/>
            {% with ferias=ferias_futuras impressao=True %}
              {% include 'tables/ferias.html'%}
            {% endwith %}
          {% endif %}

          {% if ferias_fruidas %}
            <h3 class="text-center"> FÉRIAS  - fruídas</h3><br/>
            {% with ferias=ferias_fruidas impressao=True %}
              {% include 'tables/ferias.html'%}
            {% endwith %}
          {% endif %}

          {% if ferias_indeferidas %}
            <h3 class="text-center"> FÉRIAS  - indeferidas</h3><br/>
            {% with ferias=ferias_indeferidas impressao=True %}
              {% include 'tables/ferias.html'%}
            {% endwith %}
          {% endif %}

          {% if abonos_futuros %}
            <h3 class="text-center"> ABONOS - futuros</h3><br/>
            {% with abonos=abonos_futuros impressao=True %}
              {% include 'tables/abono.html'%}
            {% endwith %}
          {% endif %}

          {% if abonos_fruidos%}
            <h3 class="text-center"> ABONOS - fruídos</h3><br/>
            {% with abonos=abonos_fruidos impressao=True %}
              {% include 'tables/abono.html'%}
            {% endwith %}
          {% endif %}

          {% if abonos_indeferidos %}
            <h3 class="text-center"> ABONOS - indeferidos</h3><br/>
            {% with abonos=abonos_indeferidos impressao=True %}
              {% include 'tables/abono.html'%}
            {% endwith %}
          {% endif %}

          {% if licencas_futuras %}
            <h3 class="text-center"> LICENÇAS-PRÊMIO - futuras </h3><br/>
            {% with licencas=licencas_futuras impressao=True %}
              {% include 'tables/licenca.html'%}
            {% endwith %}
          {% endif %}

          {% if licencas_fruidas %}
            <h3 class="text-center"> LICENÇAS-PRÊMIO - fruídas </h3><br/>
            {% with licencas=licencas_fruidas impressao=True %}
              {% include 'tables/licenca.html'%}
            {% endwith %}
          {% endif %}

          {% if licencas_indeferidas %}
            <h3 class="text-center"> LICENÇAS-PRÊMIO - indeferidas </h3><br/>
            {% with licencas=licencas_indeferidas impressao=True %}
              {% include 'tables/licenca.html'%}
            {% endwith %}
          {% endif %}

        {% elif tipo == 'trabalhador_historico' %}

          {% if ferias_futuras %}
            <h3 class="text-center"> FÉRIAS  - futuras</h3><br/>
            {% with ferias=ferias_futuras impressao=True %}
              {% include 'tables/ferias.html'%}
            {% endwith %}
          {% endif %}

          {% if ferias_fruidas %}
            <h3 class="text-center"> FÉRIAS  - fruídas</h3><br/>
            {% with ferias=ferias_fruidas impressao=True %}
              {% include 'tables/ferias.html'%}
            {% endwith %}
          {% endif %}

          {% if ferias_indeferidas %}
            <h3 class="text-center"> FÉRIAS  - indeferidas</h3><br/>
            {% with ferias=ferias_indeferidas impressao=True %}
              {% include 'tables/ferias.html'%}
            {% endwith %}
          {% endif %}

          {% if abonos_futuros %}
            <h3 class="text-center"> ABONOS - futuros</h3><br/>
            {% with abonos=abonos_futuros impressao=True %}
              {% include 'tables/abono.html'%}
            {% endwith %}
          {% endif %}

          {% if abonos_fruidos%}
            <h3 class="text-center"> ABONOS - fruídos</h3><br/>
            {% with abonos=abonos_fruidos impressao=True %}
              {% include 'tables/abono.html'%}
            {% endwith %}
          {% endif %}

          {% if abonos_indeferidos %}
            <h3 class="text-center"> ABONOS - indeferidos</h3><br/>
            {% with abonos=abonos_indeferidos impressao=True %}
              {% include 'tables/abono.html'%}
            {% endwith %}
          {% endif %}

          {% if licencas_futuras %}
            <h3 class="text-center"> LICENÇAS-PRÊMIO - futuras </h3><br/>
            {% with licencas=licencas_futuras impressao=True %}
              {% include 'tables/licenca.html'%}
            {% endwith %}
          {% endif %}

          {% if licencas_fruidas %}
            <h3 class="text-center"> LICENÇAS-PRÊMIO - fruídas </h3><br/>
            {% with licencas=licencas_fruidas impressao=True %}
              {% include 'tables/licenca.html'%}
            {% endwith %}
          {% endif %}

          {% if licencas_indeferidas %}
            <h3 class="text-center"> LICENÇAS-PRÊMIO - indeferidas </h3><br/>
            {% with licencas=licencas_indeferidas impressao=True %}
              {% include 'tables/licenca.html'%}
            {% endwith %}
          {% endif %}

        {% endif %}

      </div>
    </body>
</html>


Enviar uma mensagem
