{% extends 'base.html' %}
{% load filtros %}
{% load user_agents %}

{% block header %}

  <div class="header-gradient">
    <div class="row justify-content-center align-items-center">
      <div class="col-10">
        <h4 class="text-primary ml-4">PESQUISA: {{query }}</h4>
      </div>
      <div class="col-2">
        {% if request|is_pc %}
          <form method="POST" action="{% url 'pdf' 'pesquisa' 0 %}" class="mr-1">
            {% csrf_token %}
            <input type='hidden' name='query' value={{query}} />
            <button type='submit' class="btn btn-sm btn-block btn-success" data-toggle="tooltip" data-placement="top" title="Gerar PDF" {% if not qtd_resultados %}disabled{% endif %}>
              <i class="far fa-file-pdf text-light"></i>
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

{% block conteudo %}

  {% if qtd_resultados %}
    <div class="m-3">
      <div class="row justify-content-center align-items-center">
        <small class="col-12 text-light text-rigth">{{ qtd_resultados }} resultados</small>

        {% if trabalhadores %}
          <div class="col-12">
            <div class="my-4">
              {% include 'tables/trabalhador.html' %}
            </div>
          </div>
        {% endif %}

        {% if setores %}
          <div class="col-12">
            <div class="my-4">
              <div class="card">
                <div class="card-header">
                  <h5 class='card-title text-center'>Secretarias</h5>
                </div>
                <div class="card-body">
                  {% include 'tables/setores.html' %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if ferias_futuras or ferias_fruidas or ferias_indeferidas %}
          <div class="col-12">
            <div class="my-4">
              <div class="card">
                <div class="card-header">
                  <h5 class='card-title text-center'>Férias</h5>
                </div>
                <div class="card-body">
                  {% if ferias_futuras %}
                    <h3 class="text-center text-primary">futuras</h3>
                    {% with ferias=ferias_futuras %}
                      <div class="my-2">
                        {% include 'tables/ferias.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if ferias_fruidas %}
                    {% with ferias=ferias_fruidas %}
                      <h3 class="text-center text-primary">fruídas</h3>
                      <div class="my-2">
                        {% include 'tables/ferias.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if ferias_indeferidas %}
                    {% with ferias=ferias_indeferidas %}
                      <h3 class="text-center text-primary">indeferidas</h3>
                      <div class="my-2">
                        {% include 'tables/ferias.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if licencas_futuras or licencas_fruidas or licencas_indeferidas %}
          <div class="col-12">
            <div class="my-4">
              <div class="card">
                <div class="card-header">
                  <h5 class='card-title text-center'>Licenças-prêmio</h5>
                </div>
                <div class="card-body">
                  {% if licencas_futuras %}
                    <h3 class="text-center text-primary">futuras</h3>
                    {% with licencas=licencas_futuras %}
                      <div class="my-2">
                        {% include 'tables/licenca.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if licencas_fruidas %}
                    {% with licencas=licencas_fruidas %}
                      <h3 class="text-center text-primary">fruídas</h3>
                      <div class="my-2">
                        {% include 'tables/licenca.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if licencas_indeferidas %}
                    {% with licencas=licencas_indeferidas %}
                      <h3 class="text-center text-primary">indeferidas</h3>
                      <div class="my-2">
                        {% include 'tables/licenca.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if abonos_futuros or abonos_fruidos or abonos_indeferidos %}
          <div class="col-12">
            <div class="my-4">
            <div class="card">
                <div class="card-header">
                  <h5 class='card-title text-center'>Abonos</h5>
                </div>
                <div class="card-body">
                  {% if abonos_futuros %}
                    <h3 class="text-center text-primary">futuros</h3>
                    {% with abonos=abonos_futuros %}
                      <div class="my-2">
                        {% include 'tables/abono.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if abonos_fruidos %}
                    {% with abonos=abonos_fruidos %}
                      <h3 class="text-center text-primary">fruídos</h3>
                      <div class="my-2">
                        {% include 'tables/abono.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if abonos_indeferidos %}
                    {% with abonos=abonos_indeferidos %}
                      <h3 class="text-center text-primary">indeferidos</h3>
                      <div class="my-2">
                        {% include 'tables/abono.html' %}
                      </div>
                    {% endwith %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <h3 class="text-center">Não há resultados a serem exibidos</h3>
  {% endif %}


{% endblock %}
