<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Impressão: abono</title>
		<!-- Required meta tags -->
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	</head>
	<body class="container-fluid">
		<div class="row">
			<div id='primeiro_abono'>
				<h1 style="font-size:3em;text-align:center;margin-top:40px;margin-bottom:40px;">R E Q U E R I M E N T O&nbsp;&nbsp;&nbsp;D E&nbsp;&nbsp;&nbsp;A B O N O<h1>
				<h5 style="font-size:1.5em;text-align:justify;margin-bottom:20px;">
					&nbsp;&nbsp;&nbsp;&nbsp;Através deste, venho requerer a Vossa Senhoria, conforme dispõe a Lei Complementar 001/1993 em seu capítulo VI, artigo 129, inciso IV, o abono de trabalho de 1 (hum) dia, usufruindo em {{ data }} para tratar de assuntos de interesse particular.
				</h5>
				<h5 style="font-size:1.4em;text-align:justify;;margin-bottom:20px;">
					Nesses termos, peço deferimento.
				</h5>
				<h5 style="font-size:1.4em;text-align:right;margin-bottom:40px;">
					Ilha Solteira, {{ dia_hj }} de {{mes_hj }} de {{ ano_hj }}
				</h5>
				<p></p><p></p>
				<div>
					<div style='text-align:center;'>
						<h1 style='margin-bottom:40px;'>
							___________________________<br/>
							{{ nome }}<br/>
							Matrícula: {{ matricula}}<br/>
							Função: {{ funcao }} - Secretaria: {{ setor }}
						</h1>

					</div>
					<div style="text-align:center">
						<h1>
							___________________________<br/>
							Sebastião Arosti<br/>
							Chefe do Departamento de Transporte<br/>
						</h1>

					</div>
				</div>

			</div>
			<div id='segundo_abono' class="col">
				<h1 style="font-size:3em;text-align:center;margin-top:80px;margin-bottom:40px;">R E Q U E R I M E N T O&nbsp;&nbsp;&nbsp;D E&nbsp;&nbsp;&nbsp;A B O N O<h1>
				<h5 style="font-size:1.5em;text-align:justify;margin-bottom:20px;">
					&nbsp;&nbsp;&nbsp;&nbsp;Através deste, venho requerer a Vossa Senhoria, conforme dispõe a Lei Complementar 001/1993 em seu capítulo VI, artigo 129, inciso IV, o abono de trabalho de 1 (hum) dia, usufruindo em {{ data }} para tratar de assuntos de interesse particular.
				</h5>
				<h5 style="font-size:1.4em;text-align:justify;;margin-bottom:20px;">
					Nesses termos, peço deferimento.
				</h5>
				<h5 style="font-size:1.4em;text-align:right;margin-bottom:40px;">
					Ilha Solteira, {{ dia_hj }} de {{mes_hj }} de {{ ano_hj }}
				</h5>
				<p></p><p></p>
				<div>
					<div style='text-align:center;'>
						<h1 style='margin-bottom:40px;'>
							___________________________________________<br/>
							{{ nome }}<br/>
							Matrícula: {{ matricula}}<br/>
							Função: {{ funcao }} - Secretaria: {{ setor }}
						</h1>

					</div>
					<div style="text-align:center">
						<h1>
							___________________________________________<br/>
							Sebastião Arosti<br/>
							Chefe do Departamento de Transporte<br/>
						</h1>

					</div>
				</div>

			</div>
		</div>
	</body>

</html>
