{% load filtros %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Impressão: licença-prêmio</title>
		<!-- Required meta tags -->
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	</head>
	<body class="container-fluid">
		<div class="row">
			<div id='primeiro_abono'>
				<h1 style="font-size:2.6em;text-align:center;margin-top:40px;margin-bottom:40px;">R E Q U E R I M E N T O&nbsp;&nbsp;&nbsp;D E&nbsp;&nbsp;&nbsp;L I C E N Ç A&nbsp;&nbsp;&nbsp;P R Ê M I O<h1>
				<h5 style="font-size:1.5em;text-align:justify;margin-bottom:20px;">
					&nbsp;&nbsp;&nbsp;&nbsp;Através deste, venho solicitar a vossa senhoria, de acordo com os artigos 121 a 124 da Lei Complementar 001/93 de 01/02/1993 e Lei Complementar 121/2007 de 17/01/2007, o período de gozo da Licença Prêmio por Assiduidade, no período de {{ data_inicio }} à {{ data_termino|subtrai_dias:1 }}.
				</h5>
				<h5 style="font-size:1.4em;text-align:justify;;margin-bottom:20px;">
					Nesses termos, peço deferimento.
				</h5>
				<h5 style="font-size:1.4em;text-align:right;margin-bottom:40px;">
					Ilha Solteira, {{ dia_hj }} de {{mes_hj }} de {{ ano_hj }}
				</h5>
				<p></p><p></p>
				<div>
					<div style='text-align:center;'>
						<h1 style='margin-bottom:40px;'>
							___________________________<br/>
							{{ nome }}<br/>
							Matrícula: {{ matricula}}<br/>
							Função: {{ funcao }} - Secretaria: {{ setor }}
						</h1>

					</div>
					<div style="text-align:center">
						<h1>
							___________________________<br/>
							Sebastião Arosti<br/>
							Chefe do departamento de Transporte<br/>
						</h1>

					</div>
				</div>

			</div>

			<div id='segundo_abono' class="col">
				<h1 style="font-size:2.6em;text-align:center;margin-top:40px;margin-bottom:40px;">R E Q U E R I M E N T O&nbsp;&nbsp;&nbsp;D E&nbsp;&nbsp;&nbsp;L I C E N Ç A&nbsp;&nbsp;&nbsp;P R Ê M I O<h1>
				<h5 style="font-size:1.5em;text-align:justify;margin-bottom:20px;">
					&nbsp;&nbsp;&nbsp;&nbsp;Através deste, venho solicitar a vossa senhoria, de acordo com os artigos 121 a 124 da Lei Complementar 001/93 de 01/02/1993 e Lei Complementar 121/2007 de 17/01/2007, o período de gozo da Licença Prêmio por Assiduidade, no período de {{ data_inicio }} à {{ data_termino|subtrai_dias:1 }}.
				</h5>
				<h5 style="font-size:1.4em;text-align:justify;;margin-bottom:20px;">
					Nesses termos, peço deferimento.
				</h5>
				<h5 style="font-size:1.4em;text-align:right;margin-bottom:40px;">
					Ilha Solteira, {{ dia_hj }} de {{mes_hj }} de {{ ano_hj }}
				</h5>
				<p></p><p></p>
				<div>
					<div style='text-align:center;'>
						<h1 style='margin-bottom:40px;'>
							___________________________<br/>
							{{ nome }}<br/>
							Matrícula: {{ matricula}}<br/>
							Função: {{ funcao }} - Secretaria: {{ setor }}
						</h1>

					</div>
					<div style="text-align:center">
						<h1>
							___________________________<br/>
							Sebastião Arosti<br/>
							Chefe do departamento de Transporte<br/>
						</h1>

					</div>
				</div>


			</div>
		</div>
	</body>

</html>
