{% load filtros %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Impressão: férias</title>
		<!-- Required meta tags -->
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	</head>
	<body class="container-fluid">
		<div class="row">
			<div id='primeiro_abono'>
        <h1 style="font-size:2em;text-align:right;">{{ qtd_dias }} dias<h1>
				<h1 style="font-size:3em;text-align:center;margin-bottom:40px;">R E Q U E R I M E N T O&nbsp;&nbsp;&nbsp;D E&nbsp;&nbsp;&nbsp;F É R I A S<h1>
				<h5 style="font-size:1.5em;text-align:justify;margin-bottom:20px;">
					&nbsp;&nbsp;&nbsp;&nbsp;Através deste, venho solicitar minhas férias de {{ qtd_dias }}({{ qtd_dias_escrito }}) dias de fruição, com ínício no dia {{ data_inicio }} e término no dia {{ data_termino }}.
				</h5>
				<h5 style="font-size:1.4em;text-align:justify;;margin-bottom:20px;">
					Nesses termos, peço deferimento.
				</h5>
				<h5 style="font-size:1.4em;text-align:right;margin-bottom:40px;">
					Ilha Solteira, {{ dia_hj }} de {{mes_hj }} de {{ ano_hj }}
				</h5>
				<p></p><p></p>
				<div>
					<div style='text-align:center;'>
						<h1 style='margin-bottom:40px;'>
							___________________________<br/>
							{{ nome }}<br/>
							Matrícula: {{ matricula}}<br/>
							Função: {{ funcao }} - Secretaria: {{ setor }}
						</h1>

					</div>
					<div style="text-align:center">
						<h1>
							___________________________<br/>
							Rodrigo Rodrigues da Silva Dias<br/>
							Diretor do departamento de Transporte<br/>
						</h1>

					</div>
				</div>

			</div>

			<div id='segundo_abono' class="col">
        <h1 style="font-size:2em;text-align:right;">{{ qtd_dias }} dias<h1>
				<h1 style="font-size:3em;text-align:center;margin-bottom:40px;">R E Q U E R I M E N T O&nbsp;&nbsp;&nbsp;D E&nbsp;&nbsp;&nbsp;F É R I A S<h1>
				<h5 style="font-size:1.5em;text-align:justify;margin-bottom:20px;">
					&nbsp;&nbsp;&nbsp;&nbsp;Através deste, venho solicitar minhas férias de {{ qtd_dias }}({{ qtd_dias_escrito }}) dias de fruição, com ínício no dia {{ data_inicio }} e término no dia {{ data_termino }}.
				</h5>
				<h5 style="font-size:1.4em;text-align:justify;;margin-bottom:20px;">
					Nesses termos, peço deferimento.
				</h5>
				<h5 style="font-size:1.4em;text-align:right;margin-bottom:40px;">
					Ilha Solteira, {{ dia_hj }} de {{mes_hj }} de {{ ano_hj }}
				</h5>
				<p></p><p></p>
				<div>
					<div style='text-align:center;'>
						<h1 style='margin-bottom:40px;'>
							___________________________<br/>
							{{ nome }}<br/>
							Matrícula: {{ matricula}}<br/>
							Função: {{ funcao }} - Secretaria: {{ setor }}
						</h1>

					</div>
					<div style="text-align:center">
						<h1>
							___________________________<br/>
							Rodrigo Rodrigues da Silva Dias<br/>
							Diretor do departamento de Transporte<br/>
						</h1>

					</div>
				</div>

			</div>
		</div>
	</body>

</html>
